{% extends 'base.html' %}

{% set mytitle="Double Bar Chart" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/double/doublebar.css" rel="stylesheet" stype="text/css" />

<div ng-app="doubleApp">

    <div ng-controller="DoubleBarController" ng-init="initialize()">

        <div class="row">
            <div class="col-md-12" id="head">
                <double-bar-head></double-bar-head>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart">
                <double-bar-chart sort="alpha"></double-bar-chart>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12" id="chart">
                <double-bar-chart sort="frequency"></double-bar-chart>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="text">
                {% include 'doublebar.md' %}
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/double/doublebar_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/double/doublebar_directives.js"></script>

{% endblock %}


