{% extends 'base.html' %}

{% set mytitle="Stacked Bar Chart" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<link href="{{ SITEURL }}/first/stackedbar.css" rel="stylesheet" stype="text/css" />

<div ng-app="stackedApp">

    <div ng-controller="StackedBarController" ng-init="initialize()">

        <div class="row">
            <div class="col-md-12" id="head">
                <stacked-bar-head></stacked-bar-head>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="chart">
                <stacked-bar-chart></stacked-bar-chart>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12" id="text">
                {% include 'stackedbar.md' %}
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/first/stackedbar_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/first/stackedbar_directives.js"></script>

{% endblock %}


